@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

* {
    font-family: "Sigmar", cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0px;
    background-color: black;
    gap: 20px;
}

.header,
.footer {
    background-color: rgb(65, 65, 65);
    text-align: center;
    width: 100%;
}

.footer {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(140, 245, 255);
}

.header h1 {
    margin: 0px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: black;
    padding: 10px 0px;
}

#eraser,
#clear,
#color,
.options p {
    margin: 0px;
    font-size: x-large;
    color: white;
    background-color: rgb(65, 65, 65);
    border: 1px solid white;
    border-radius: 5px;
    padding: 0px 10px;
}

#rows,
#columns {
    font-size: x-large;
    color: white;
    width: 50px;
    height: 30px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.container {
    display: flex;
}

.row {
    display: flex;
    color: white;
}

.column {
    width: 40px;
    height: 40px;
    border: 1px solid wheat;
}
